body {
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header {
    color: brown;
    text-align: center;
    margin: 50px;
}

.container {
    text-align: center;
    border: 1px solid black;
    margin: 50px;
}

p {
    color: black;
}

li {
    list-style-type: none;
    color: gray;
}
