body {
    margin: auto;
    font-family: 'Courier New', Courier, monospace
}
.header {
    color: brown;
    text-align: center;
    border: 1px solid brown;
    margin: 50px;
}

.container {
    text-align: center;
    border: 1px solid black;
    margin: 50px;
}

p {
    color: black;
}

li {
    list-style-type: none;
    color: gray;
}
