body {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {
    color: brown;
    text-align: center;
    border: 1px solid brown;
    margin: 50px;
}

.container {
    text-align: center;
    border: 1px solid black;
    margin: 50px;
}

p {
    color: black;
}

li {
    list-style-type: none;
    color: gray;
}
